*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
table,th{
    border-bottom: 1px solid #000000;
    border-collapse: collapse;
    border-left: 1px solid #000000;
}
#main
{
    width: 100%;
    height: 100%;
}
#home
{
    width: 100%;
    height: 270px;
    background-image: url("./img/hotel-result.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.home-box
{
    z-index: 10;
    position: relative;
}
#home video
{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 794px;
    
}
table {
    width: 100%;
    height: 30px;
}
.social
{
    width: 10%;
}
#login
{
    text-decoration: none;
    float: right;
    color: #000000;
    margin-right: 30px;
}
.icon 
{
    text-decoration: none;
    color: #000000;
}
#login:hover,
.icon:hover
{
    color: #ffdd00;
}
#logo-container
{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.logo,#s-letter
{
    text-decoration: none;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bolder;
    color: #ffffff;
    padding: 30px 0 30px 0;
    
}
#s-letter
{
    color:#ffdd00;
}
#list-banner
{
    display: flex;
    justify-content: center;
}
ul li{
    float: left;
    list-style-type: none;
    padding: 20px;
}
ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
}
ul li a:hover{
    border-bottom: 5px solid #ffdd00;
}
#group-title
{
   padding-top: 50px;
   text-align: center;
}
#group-title h1{
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffdd00;
}
#group-title h4{
    font-size: 16px;
    font-weight: 700;
    color: #e5e5e5;
}
#search-container
{
    margin-top: 60px;
}
#search-1
{
    width: 350px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
    margin: 0 500px;
}


#contact
{
    background-image: url("./img/pexels-photo-691668.jpeg");
    width: 100%;
    height: 625px;
}
#contact-box
{
    width: 100%;
    height: 100%;
    transform: scaleX(75%);
    padding: 40px 0px;
}
#contact-box #contact-img
{
    width: 50%;
    height: 100%;
    float: left;
}
#img-box img
{
    height: 582px;
    width: 420px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#contact-box #contact-form
{
    width: 50%;
    float: right;
}
#contact-form #form
{
    background-color: rgb(255, 221, 0);
    width: 100%;
    height: 507px;
    margin-top: 37px;
}
#form-box
{
    width: 545px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.text
{
   width: 540px;
   height: 40px; 
}
.text,
#textarea-form
{
    margin-bottom: 10px;
    background-color:#ffe433;
    border: 1px solid #ffe433;
    font-size: 20px;
    padding-left: 20px;
}
#text-contact
{
    margin-left: 25px;
    margin-top: 50px;
    text-align: center;
}
#text-contact h2{
    font-weight: 700;
    font-size:35px;
    line-height: 1.3;
    padding-top: 25px;
}
#text-contact p
{
    font-size: 20px;
}
#button-contact
{
    width: 164px;
    height: 50px;
    margin: auto;
}
#btn-submit
{
    width: 170px;
    height: 40px;
    border: 1px solid #3c3c3c;
    background-color: #3c3c3c;
    border-radius: 50px;
    padding: 0px;
    position: relative;
    text-align: center;
    color: rgb(255, 221, 0);
    text-transform: uppercase;
    font-size: 14px;
    display: inline-block;
}
#footer
{
    width: 100%;
    height: 504px;
    background-image: url("./img/bg-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 0;
    margin: 0;
}
.footer-col
{
    width: 260px;
    height: 210px;
    float: left;
    margin: 0 30px;
}
#col-1
{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: 0;
    color: #f1f1f1;
}
#col-1 h3{
    font-size: 17px;
    color: #a5a5a5;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 20px;
}
#col-1 .h3-list
{
    margin-bottom: 1px;
}
#col-1 #col-1 
{
    margin-left: 20px;
    text-align: left;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 10px;
}
.f-info{
    margin-left: 20px;
    padding-bottom: 10px;
}
#col-1 .f-info p,
#col-1 .f-info a
{
    text-decoration: none;
    color: #a5a5a5;
    font-size: 12px;
    line-height: 1.6;
}
.f-info span input
{
    box-sizing: border-box;
    border: 1px solid #ddd;
    padding: 0 0.75em;
    height: 2.507em;
    font-size: .97em;
    border-radius: 0;
    max-width: 100%;
    width: 60%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
} 
.f-info #fbtn-submit
{
    width: 30%;
    position: relative;
    display: inline-block;
    background-color: #ffdd00;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: .03em;
    touch-action: none;
    cursor: pointer;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    vertical-align: middle;
    border-radius: 0;
    margin-top: 0;
    margin-right: 1em;
    text-shadow: none;
    line-height: 2.4em;
    min-height: 2.5em;
    padding: 0 1.2em;
    max-width: 100%;
}
#col-1 ul li
{
    height: 2px;
}
#col-1 ul li a
{
    font-size: 12px;
    color: #a5a5a5;
    text-transform: none;
}
.footer-img
{
    width: 350px;
    height: 350px;
    float: left;
}

#col-1 .f-img img
{
    width: 75px;
    height: 75px;
    float: left;
    margin: 20px;
    transition:0.3s ease-in-out;
    transform: scale(1);
}
#col-1 .f-img:hover img
{
    transform: scale(1.2);
    opacity: 0.8;
}
.modal.open
{
    display: flex;
}
.modal{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;
}
.modal-container
{
    background-color: #ffffff;
    width: 875px;
    height: 370px;
    position: relative;
    max-width: calc(100% - 32px);
    animation: modalFaceIn ease 0.6s;
}
.modal-close
{
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close i
{
    font-size: 20px;
}
.modal-close:hover i
{
    color: #ffdd00;
}
.modal-body
{
    width: 95%;
}
.modal-body h3
{
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: 700;
    padding: 10px;
}
.modal-label
{
    display: block;
    font-size: 15px;
    color: #222222;
    margin: 0 0 6px 10px;
    font-weight: 700;
}
.modal-input
{
    width: 100%;
    height: 39px;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 0 10px;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
    margin: 0 0 30px 10px;
}
#btn-input
{
    width: 132px;
    height: 40px;
    background-color: #ffdd00;
    border: 1px solid #ffdd00;
    font-weight: 700;
    color: #ffffff;
    margin:0px 10px 0;
}
.container-pass
{
    width: 300px;
    height: 50px;
    margin: 10px 0px;
}
.change-pass
{
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    color: #000000;
}
@keyframes modalFaceIn{
    from{
        transform: translateY(-150px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
.product-container
{
    
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product
{
    width: 80%;
    height: 100%;
    margin: 40px 0px;
}
.product-img
{
    width: 50%;
    float: left;
}
.product-img img
{
    max-width: 100%;
    height: auto;
    width: 100%;
}
.product-text
{
    width: 50%;
    float: right;
    padding: 20px;
}
.product-text h1
{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
}
.product-text span
{
    font-weight: bold;
    font-size: 24px;
    line-height: 1;
}
.product-text p
{
    font-size: 16px;
    margin: 20px 0px;
}
.product-text .btn-product
{
    border-radius: 5px;
    background-color: #e30050;
    width: 117px;
    height: 40px;
    border: 1px solid #e30050;
}
.product-text .btn-product a
{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.product-pop
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.product-box
{
    width: 270px;
    height: 390px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: #fff;
    padding-bottom: 50px;
    margin: 30px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}
.product-box .img-box img
{
    width: 100%;
    height: 100%;
    
}

.product-box .price-box
{
    color: #121212;
    font-weight: 700;
}
.product-box .text-box a{
    text-decoration: none;
    color: #686868;
    font-weight: 600;
}
.product-box .text-box a:hover
{
    color: #0f6dec;
}
.product-box .text-box p{
    margin-top: 10px;
}
#tour2 #button-pop
{
    margin-top: 30px;
}
#tour-title h3,
#customer-title h3
{
    text-transform:uppercase ;
    font-size: 18px;
    color: #6e747c;
    font-weight: 300;
    margin-left: 45px;
    padding-top: 20px;
}
#tour-title h2,
#customer-title h2
{
    text-transform:uppercase ;
    font-size: 35px;
    color: #000000;
    font-weight: 600;
    margin-left: 45px;
}
.policy
{
    width: 100%;
    height: 650px;
    background-color: none;
}
.policy-box
{
    width: 80%;
    margin-left: 150px;
}
.policy .list2 p:first-child,
.policy .list p:first-child,
.policy .header p
{
    font-weight: 700;
}
.border
{
    width: 80%;
    background-color: #ddd;
    margin-bottom: 20px;
}
